# airflow
/logs/
/config/
/include/data/

# terraform
/infra/*.lock.hcl
/infra/*.tfstate
/infra/*.backup
/infra/.terraform/
/infra/variables.tf
/infra/credentials.tfvars
/.env

/dags/operators/grant_auth_methods.sql

# do not commit private keys
*.p8
*.pem
*.ppk
*.pub

# do not commit private keys in photos
/figures & images/dbt cloud/

.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
